<div class="navbar-lewagon">
  <div class="nav-container">

    <div class="navbar-logo" href="#">
      <h3 style="font-family: 'Bungee Shade', cursive;">Watch-List</h3>
    </div>

    <div class="main-navbar">
      <%# <div class="navbar-search"> %>
        <%# <%= simple_form_for :search, url: lists_path, method: "GET", html: { class: 'navbar-search' } do |f| %>
          <%# <%= f.input :name, input_html: {value: "Search Lists"} %>
          <%# <%= f.submit "Search", class: "btn btn-primary" %>
        <%# <% end %>
      <%# </div> %>
    </div>
  </div>
</div>
